header, footer {
    text-align: center;

}
body {
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    color: white;
}
.username {
    color:gray;
}
.button {
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    border: solid 1px white;
    width: 15%;
    height: 26%;
    font-size: 100%;
}
div {
    padding: 0% 9% 0% 9%;
    width: 1000px;
    display: flex;
    justify-content: space-around;

}
.img-perfil {
    display:inline-block;
    height: 11%;
    width: 11%;
    border-radius: 3px;
    list-style: none;
}
.users {
    align-content: space-around;
    align-content: center;
}
.username {
    align-content: space-around;
    align-content: center;
}
.img-perfil:hover {
    border: solid 1px white;
}
.username:hover {
    color:white;
}
.button:hover {
    background-color: white;
    color:black;
}