header, footer {
    text-align: center;
    margin: 0 auto;
    padding: 3vw;
}
body {
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    color: white;
}
.username {
    color:gray; 
}
.button {
    color: white;
    background-color: black;
    padding: 5px 20px 5px 20px;
    border: solid 1px white;
    width: 15%;
    height: 26%;
    font-size: 100%;
}
div {
    padding: 0% 9% 0% 9%;   
    margin: 0 auto;
}
ul {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}
li {
    width: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.img-perfil {
    display:inline-block;
    width: 100%;
    border-radius: 8px;
    list-style: none;
    margin: 0 auto;
    border: solid 1px transparent;
}
.username {
    justify-content: center;
    align-content: center;
    margin: 10px auto;
}
li:hover .img-perfil {
    border: solid 1px white;
}
li:hover .username{
    color:white;
}
.button:hover {
    background-color: white;
    color:black;
}
